<!-- Section: Blog v.3 -->
<section class="my-5" style="margin-left: 200px; margin-right: 200px">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Video Vault</h2>
  <!-- Section description -->
  <h4 class="text-center dark-grey-text w-responsive mx-auto mb-5">
    Welcome to my Video Vault! This page features links to YouTube videos which
    can be viewed without leaving the page. If you like this and would like to
    have a similar website featuring YouTube videos that you can customize, let
    me know!
  </h4>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-5 col-xl-4">
      <!-- Featured image -->
      <div class="view overlay rounded z-depth-1-half animated flipInX">
        <iframe
          width="100%"
          height="345px"
          src="https://www.youtube.com/embed/8h1Oj1p6wBM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="animated slideInRight"
        ></iframe>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7 col-xl-8">
      <!-- Post title -->

      <h3 class="font-weight-bold mb-3">
        <i class="fas fa-broadcast-tower" style="color: cornflowerblue"></i
        ><strong> Do Fries Go With that Shake?</strong>
      </h3>
      <!-- Excerpt -->
      <p class="dark-grey-text" style="font-size: larger; font-weight: 400">
        Recorded live in Ocean Beach, San Diego. Written by Scott Remsen. 
        This is an instrumental with a jazzy-funk turnaround. Lots of wide-open
        improv here, playing to the sun and the crowd.
      </p>
      <!-- Post data -->
      <p>
        by <a class="font-weight-bold">Scott Remsen/Jerry Pavelko</a>,
        07/18/2011
      </p>
      <!-- Read more button -->
      <a mdbBtn color="primary" routerLink="/landing-page" mdbWavesEffect
        >Listen to Songs</a
      >
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <hr class="my-5" />

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-5 col-xl-4">
      <!-- Featured image -->
      <div class="view overlay rounded z-depth-1-half animated fadeIn">
        <iframe
          width="100%"
          height="345px"
          src="https://www.youtube.com/embed/3wrBxk12ajk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7 col-xl-8">
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3">
        <i class="fas fa-cocktail" style="color: #ef358b"></i>
        <strong> Peakfest! -- Scotty R. Extraterrestrial Guitar</strong>
      </h3>
      <!-- Excerpt -->
      <p class="dark-grey-text" style="font-size: larger; font-weight: 400">
       This is a live show from UCSD in La Jolla, San Diego, in the fall of 2012.  Featuring Jerry Pavelko on drums/synthesizer and vocals during parts of "Her Disaster".
       This improvisation effectively creates a Sound Sculpture, as the music tightly weaves through interludes and harmonic phrases to take the listener on a wide-open journey.
      </p>
      <!-- Post data -->
      <p>
        by <a class="font-weight-bold">Scott Remsen/Jerry Pavelko</a>,
        09/12/2011
      </p>
      <!-- Read more button -->
      <a mdbBtn color="primary" routerLink="/landing-page" mdbWavesEffect
        >Listen to Songs</a
      >
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <hr class="my-5" />

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-5 col-xl-4">
      <!-- Featured image -->
      <div
        class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light animated flipInX"
        mdbWavesEffect
      >
        <iframe
          width="100%"
          height="345px"
          src="https://www.youtube.com/embed/6k4thUh5U2Y"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7 col-xl-8">
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3">
        <i class="far fa-grin-tongue-wink" style='color: sandybrown;'></i>
        <strong>     Her Disaster Jam</strong></h3>
      <!-- Excerpt -->
      <p class="dark-grey-text" style="font-size: larger; font-weight: 400">
        This is our encore from the recorded live show from UCSD in La Jolla, San Diego, in the fall of 2012.  Jerry Pavelko wrote this song, and he builds the rhythm during the song's intro, right before
        we hear guitar phrases getting steadily more loud as the collaboration congeals.
      </p>
       <!-- Post data -->
       <p>
        by <a class="font-weight-bold">Scott Remsen/Jerry Pavelko</a>,
        09/12/2011
      </p>
      <!-- Read more button -->
      <a mdbBtn color="primary" routerLink="/landing-page" mdbWavesEffect
        >Listen to Songs</a>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Blog v.3 -->
