<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-md-6">
      <div class="col-md-12">
        <!--Card-->
        <mdb-card
          cascade="true"
          wider="true"
          class="animated fadeInLeft mb-3"
          borderColor="border-info"
        >
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              src="https://mdbcdn.b-cdn.net/img/new/slides/017.jpg"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <!--Title-->
            <h4 class="card-title">
              <strong>Chi Club Studio Sessions</strong>
            </h4>
            <h5 class="indigo-text">
              <strong
                >Songs from the original band demo, featuring Chi Club's
                original line-up.</strong
              >
            </h5>

            <mdb-card-text>
              <p>
                The Chi Club is a band that started in Ocean Beach, San Diego,
                in 2005. The original band members recorded a five song demo
                album, featuring the instrumentals "Iced Chi" and "Swell", as
                well as "Pacific Breezes". Songs on this page are from the Chi
                EP.
              </p>
              <p style="font-weight: 900">
                Songs can be heard by clicking link!
              </p>
            </mdb-card-text>

            <i class="fab fa-angellist"></i>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>
    </div>

    <div class="col-md-6">
      <div>
        <iframe
          width="100%"
          height="166"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          class="tracks"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242205984&color=%23483ec7&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/scottremsen"
            title="Scott Remsen"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Scott Remsen</a
          >
          ·
          <a
            href="https://soundcloud.com/scottremsen/pacific-breezes"
            title="Pacific Breezes"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Pacific Breezes</a
          >
        </div>
      </div>

      <div>
        <iframe
          width="100%"
          height="166"
          scrolling="no"
          class="tracks"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242205990&color=%23483ec7&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/scottremsen"
            title="Scott Remsen"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Scott Remsen</a
          >
          ·
          <a
            href="https://soundcloud.com/scottremsen/iced-chi"
            title="Iced Chi"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Iced Chi</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">

      <div class="col-md-6">

      </div>

      <div class="col-md-6">

      </div>

    </div> -->
</div>
