.nav-link.active {
  background-color: #3f51b5;
}

.logout-button {
 // display: none;
}

.avatar-dropdown {
  display: block;
}

@media (max-width: 992px) {
  .avatar-dropdown {
    display: none;
  }

  .logout-button {
    display: block;
  }
}

.navLinks {
  font-weight: 600;
}